
@font-face {
    font-family: "LL Circular Book Sub";
    src: url("../fonts/lineto-circular-book.eot");
    src: url("../fonts/lineto-circular-book.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-book.woff2") format("woff2"),
        url("../fonts/lineto-circular-book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LL Circular Bold Sub";
    src: url("../fonts/lineto-circular-bold.eot");
    src: url("../fonts/lineto-circular-bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/lineto-circular-bold.woff2") format("woff2"),
        url("../fonts/lineto-circular-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
